// @import 'mixin-card';

nav {
  // @include card_mixin_v2(red);
  background-color: #f8c291;
  margin-bottom: 20px;
  padding: 15px 5px;
}
nav > ul {
  margin: 0;
  display: flex;
  list-style-type: none;
  gap: 10px;
}
nav > ul > li > a {
  text-decoration: none;
  color: #b71540;
}
nav > ul > li > a:hover {
  color: yellow;
}